body {
    background-color: #f8f9fa;
    font-family: 'Copperplate', serif;
  
}

@media only screen and (min-width: 768px) {
    body {
      font-family: 'Copperplate Gothic', serif;}
}


.container {
    text-align: center;
}

.ahinfotxt {
    text-align: center;
   }

header {
    background-color: #000000;
    display: flex;
      justify-content: center;
      align-items: center;

.logoja {
    width: 13em;
    overflow: hidden;
    transition: transform 5s;

}

.logo:hover {
    transform: scale(1.03);
}


}

.navbar-nav {
    padding-top: 0%;
}
.navbar-brand {
    font-size: 1em;
    display: flex;
        justify-items: center;
        align-items: center;
}


.navbar {
    background-color: #000000;
    margin: 0%;
    padding: 0%;
}


.nav-link {
    color: #fff;
    margin-right: 0%

    
}  

.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}


  .form-group {
    margin-bottom: 20px;
  }


.container {
    margin-top: px;
}

.card {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.guidelines {
    color: #fff;
}
